body {
  font-family: "Montserrat" !important;
  text-align: center !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold" !important;
}

p {
  color: #8f8f8f;
}

/****************** Container Fluid *******************/
.container-fluid {
  padding: 7% 15% !important;
}

/********* Color Section *********/
.color-section1 {
background-color: #ff4c68;
}

.color-section2 {
background-color: #ef8172;
}

.white-section1 {
  background-color: #ffff;
}

/*************** Title Section *******************/

#title .container-fluid {
  color: #ffff;
  text-align: left;
  padding: 3% 15% 7% !important;
}

/* Heading Section */
.large-heading {
  font-family: "Montserrat-Black" !important;
  font-size: 3.5rem;
  line-height: 1.5;
  /* font-weight: bold !important; */
}

/* navbar bar */
.navbar {
  padding: 0 0 40px !important;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  ;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-family: "Montserrat-light" !important;
  font-size: 1.5rem;
}

/* button position */
.button-position {
  margin: 5% 3% 5% 0;
}

/* Image Position */
.download-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  right: 35%;
}

/******************* Features section **********************/
#features {

  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5% !important;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

/* Mouse Hover */
.icon:hover {
  color: #ff4c68;
}

/****************************** Testimonial Section *****************/
#testimonials {
  color: #ffff;
}

.testimonial-text {
  font-size: 3rem !important;
  line-height: 1.5;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

/****************** Press Section *********************/

#press {
  padding-bottom: 5%;
}

.press-size {
  width: 10%;
}

/*********** Pricing Item **************/

.pricing-text {
  font-size: 3.5rem !important;
  line-height: 1.5;
}

.pricing-columns {
  padding: 2% 3%;
}

/****************** CTA Section **************/

#cta {
  color: #fff;
}

/************* Footer Section ****************/

.social-icon {
  margin: 20px 10px;
}

/********** Media Section **************/

@media (max-width : 1000px) {

  .large-heading {
    text-align: center !important;
  }

#title .container-fluid {
    padding-bottom: 70% !important;
  }

  .download-image {
    position: static;
    transform: rotate(0);
    position: absolute;
    left: 20%;
  }

  #features {
    position: relative;
    z-index: 1;
  }
}
